name: Helm publish new version

on:
  push:
    branches:
      - 'main'

jobs:
  chart-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.12.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: .
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: "true"

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push charts to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            CHART_NAME=$(echo ${pkg##*/} | grep -oP '^.*?(?=-[0-9])')
            CHART_VERSION=$(echo ${pkg##*/} | grep -Po '(?<=-)[0-9][^/]*?(?=\.tgz)')
            if helm show all "oci://ghcr.io/${GITHUB_REPOSITORY}/${CHART_NAME}" --version "$CHART_VERSION" > /dev/null 2>&1; then
              echo "Helm chart $CHART_NAME with version $CHART_VERSION already exist."
            else
              helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY}"
            fi
          done
